extends ../blocks/master
block content
  main.px-3
    h1 Contact
    p.lead.text-white This will be added soon. Meanwhile, just contact me with these:
    ul.mb-0.list-unstyled
      li
        a.text-light(href='/instagram') Official Instagram Account
      li
        a.text-light(href='/personal-instagram') Personal Instagram Account
      li
        a.text-light(href='/github') Github Account
      li
        a.text-light(href='/youtube') Youtube Channel
      li
        a.text-light(href='/email') Contact (email)