extends ../blocks/master
block content
  main.px-3
    h1 Sebastian Productions&reg;
    p.lead
      | Sebastian Productions&reg; is the licenced company, ran by freelancer
      | Sebastian Mandal for his website/software development clients, and the
      | occasional music video.
    p.lead
      a.btn.btn-lg.btn-secondary.fw-bold.border-white.bg-white(href='/services') See services
