extends ../blocks/master
block content
  main.px-3
    h1 Services
    p.lead
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus amet
      | fugiat sit fugit enim cumque dolor ipsam eos nisi architecto hic earum
      | dicta recusandae quis, saepe, maiores, at et? Architecto eum enim quas
      | commodi deserunt consectetur iste, voluptatem dolorum quo maiores
      | laboriosam quae nemo repudiandae distinctio accusantium! Explicabo,
      | culpa expedita.
    p.lead
      a.btn.btn-lg.btn-secondary.fw-bold.border-white.bg-white(href='/contact') Contact for inquiry