footer.bg-light.text-center.text-lg-start
  .container.p-4
    .row
      .col-md-6.mb-4.mb-md-0
        h5.text-uppercase About Sebastian Productions®
        p.
          Hello! My name is Sebastian Mandal, and I'm a music video director and web developer. To see my open-source projects, you can see my Github in the links section, or take a look at the #[a(href='/articles') articles] section. Send me an email or a DM on Instagram for business inquiries!
      .col-md-6.mb-4.mb-md-0
        h5.text-uppercase Links
        ul.mb-0
          li
            a.text-dark(href='https://instagram.com/sebastian_productions1') Official Instagram Account
          li
            a.text-dark(href='https://instagram.com/sebmandal') Personal Instagram Account
          li
            a.text-dark(href='https://github.com/sebmandal') Github Account
          li
            a.text-dark(href='https://www.youtube.com/channel/UCaCYjktYm9hz1pkGmwSNO-w') Youtube Channel
          li
            a.text-dark(href='mailto:sebastian.mandal@icloud.com') Contact (email)
      //- .col-lg-3.col-md-6.mb-4.mb-md-0
      //-   h5.text-uppercase.mb-0 Links
      //-   ul.list-unstyled
      //-     li
      //-       a.text-dark(href='#!') Link 1
      //-     li
      //-       a.text-dark(href='#!') Link 2
      //-     li
      //-       a.text-dark(href='#!') Link 3
      //-     li
      //-       a.text-dark(href='#!') Link 4
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    | &copy; 2021 Copyright: 
    a.text-dark(href='https://sebmandal.com/') Sebastian Productions®
