doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Sebastian Mandal Pricing Guide')
    meta(name='author' content='Sebastian Productions® Development Team')
    title Sebastian Mandal
    // Bootstrap core CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0' crossorigin='anonymous')
    meta(name='theme-color' content='#7952b3')
    // Bootstrap JS
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js' integrity='sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ' crossorigin='anonymous')
    // Favicons
    link(rel='icon' href='https://cdn.discordapp.com/attachments/838154346347626507/838354080682344499/Apple_Movie_Camera_Emoji.png' sizes='160x160')
    link(rel='canonical' href='https://getbootstrap.com/docs/5.0/examples/cover/')
    style.
      html, body {
        height: 100%;
        //- box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        box-shadow: none !important;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    // Custom styles for this template
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap' rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/5.0/examples/cover/cover.css' rel='stylesheet')
  body.bg-dark.text-white.text-center
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          span
            h3.float-md-start.mb-0 Sebastian Productions&reg;
          nav.nav.nav-masthead.justify-content-center.float-md-end
            if url == '/'
              a.nav-link.active(href='/') Home
            else
              a.nav-link(href='/') Home
            if url == '/history'
              a.nav-link.active(href='/history') History
            else
              a.nav-link(href='/history') History
            if url == '/services'
              a.nav-link.active(href='/services') Services
            else
              a.nav-link(href='/services') Services
            if url == '/contact'
              a.nav-link.active(href='/contact') Contact
            else
              a.nav-link(href='/contact') Contact
      block content
      footer.mt-auto.text-white-50
        p
          | Designed by
          a.text-white(href='https://instagram.com/sebastian_productions1') @sebmandal
          | , and 
          a.text-white(href='https://twitter.com/mdo') @mdo
          | .
