.row
        nav.navbar.navbar-expand-lg.navbar-light.bg-dark
          //- column under should be 10 if search is turned on (bottom)
          .col-md-12
            .nav-link
              ul.navbar-nav.mr-auto
                li.nav-item 
                  //- a.navbar-brand.nav-link.text-light.hover-link(href='/') sebmandal.com
                  .image-wrapper
                    a(href='/')
                      img(src='https://cdn.discordapp.com/attachments/838154346347626507/838353276470558740/sebastian_productions_logo.png' style='left: 25%; width: 50%; right: 25%; position: relative;')
            .nav-link
              ul.navbar-nav.mr-auto
                li.nav-item
                  a.nav-link.text-light.hover-link(href='/') Home
                li.nav-item
                  a.nav-link.text-light.hover-link(href='/articles') All Articles
                //- li.nav-item
                //-   a.nav-link.text-light.hover-link(href='/developer') Developer Console
          //- .col-md-2
          //-   input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')